%h1 Listing banks

%table
  %tr
    %th Date
    %th Check number
    %th Description
    %th Debit
    %th Credit
    %th
    %th
    %th

  - @banks.each do |bank|
    %tr
      %td= bank.date
      %td= bank.check_number
      %td= bank.description
      %td= bank.debit
      %td= bank.credit
      %td= link_to 'Show', bank
      %td= link_to 'Edit', edit_bank_path(bank)
      %td= link_to 'Destroy', bank, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bank', new_bank_path
