%p#notice= notice

%p
  %b Date:
  = @bank.date
%p
  %b Check number:
  = @bank.check_number
%p
  %b Description:
  = @bank.description
%p
  %b Debit:
  = @bank.debit
%p
  %b Credit:
  = @bank.credit

= link_to 'Edit', edit_bank_path(@bank)
\|
= link_to 'Back', banks_path
