
= form_for :meta do |f|

  %table
    %thead
      %th 
      %th 
      %th 
      %th 
      %th Description
      %th Note
    %tbody
      - @transactions.each do |t|
        %tr{class:t.meta.nil? && 'set-descriptor'}
          %td= t.date.strftime('%Y-%m-%d')
          %td= t.date.strftime('%a')
          %td= t.description.downcase
          %td= number_to_currency t.amount
          %td
            %input{ type: 'text', name: 'transactions[transaction-' + t.id.to_s + '][descriptor]', value: t.suggest }
          %td
            %textarea{ name: 'transactions[transaction-' + t.id.to_s + '][note]'}= t.meta.nil? ? '' : t.meta.note 
    
  =f.submit
