%h1 Listing bank_transactions

%table
  %tr
    %th Date
    %th Check number
    %th Description
    %th Debit
    %th Credit
    %th
    %th
    %th

  - @bank_transactions.each do |bank_transaction|
    %tr
      %td= bank_transaction.date
      %td= bank_transaction.check_number
      %td= bank_transaction.description
      %td= bank_transaction.debit
      %td= bank_transaction.credit
      %td= link_to 'Show', bank_transaction
      %td= link_to 'Edit', edit_bank_transaction_path(bank_transaction)
      %td= link_to 'Destroy', bank_transaction, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bank transaction', new_bank_transaction_path
