%p#notice= notice

%p
  %b Date:
  = @bank_transaction.date
%p
  %b Check number:
  = @bank_transaction.check_number
%p
  %b Description:
  = @bank_transaction.description
%p
  %b Debit:
  = @bank_transaction.debit
%p
  %b Credit:
  = @bank_transaction.credit

= link_to 'Edit', edit_bank_transaction_path(@bank_transaction)
\|
= link_to 'Back', bank_transactions_path
