%h1 Tithe 

%table#tithe
  %tr
    %td.title Giving
    %td
    %td.date= @date
  -@giving.each do |g|
    %tr
      %td= g[0]
      %td= number_to_currency g[1]
      %td
  -if @giving_total
    %tr
      %td
      %td
      %td= number_to_currency @giving_total
  -if @giving
    %tr.blank
      %td
      %td
      %td
  %tr
    %td.title Income
    %td
    %td
  -@income.each do |i|
    %tr
      %td= i[0]
      %td= number_to_currency i[1]
      %td
  -if @income 
    %tr
      %td
      %td
      %td= number_to_currency @income_total
  %tr.blank
    %td
    %td
    %td
  %tr
    %td.title Total
    %td 
    %td= number_to_currency @tithe
