<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="nav">
    <%= link_to "Overview", "/" %>
    <%= link_to "Tithe", "/tithe" %>
    <%= link_to "Transactions", "/flow/edit" %>
    <%= link_to "Import", "/csv/import" %>
  </div>

  <div id="main">

<%= yield %>

  </div>
</body>
</html>
